@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Sora:wght@300&display=swap');

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fa;
}

/* Login Page Layout */
.loginPage {
    background-image: url('https://images3.alphacoders.com/102/1021879.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 430px;
    height: 500px;
    opacity: 1;

}

.headerDiv {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}


.radio-group{
    display: flex;
    justify-content: flex-end;
    
}

.radio{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.radio + .radio{
    margin-left: 20px;
}

.radio input[type="radio"]{
    display: none;
}

.radio span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #007bff;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
}

.radio span:after{
    content: "";
    height: 8px;
    width: 8px;
    background: #007bff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after{
    transform: translate(-50%, -50%) scale(1);
}

.inputDiv {
    margin-bottom: 15px;
}

.input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: transparent;

}

.input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 500;
    position: relative;
}

.input:hover{
    box-shadow: inset 0px 0px 0px 1px #007bff;
    transition: ease .43s;
    background-color: rgba(34, 94, 204, 0.1);
}

#password-visible{
    font-size: 1.5rem;
    cursor: pointer;
}

.icon {
    margin-right: 8px;
    color: #888;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
    box-shadow: 0px 0px 10px #3498db;
}

.btn span{
    font-size: 1.3em;
    text-transform: uppercase;
}


.btn:hover {
    background-color: rgba(52, 152, 219, .5);
    color:rgba(0, 0, 0, .5);
    font-weight: 500;
    transition: ease-in-out .3s
}

.userTypeSelectionButton {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.big-button {
    flex: 1; /* Make buttons equal width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px #3498db;
}

.big-button:hover {
    background-color: rgba(52, 152, 219, .5);
    color:rgba(0, 0, 0, .5);
    font-weight: 500;
    transition: ease-in-out .3s
}

.button-icon {
    margin-right: 10px; /* Space between icon and text */
    font-size: 24px; /* Icon size */
}

@media (max-width: 768px) {
    .userTypeSelectionButton {
        flex-direction: column;
        gap: 10px;
    }
    .big-button {
        width: 100%;
    }
}


.inputDiv .status {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.forgotPassword {
    margin-top: 10px;
    text-align: center;
}

.footerDiv {
    margin-top: 15px;
    text-align: center;
}

.span{
    font-size: 1.2rem;
}