@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Sora:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* LoginPage.css */
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-weight: 500;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 470px;
    height: auto;
}

.headerDiv {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputDiv {
    margin-bottom: 15px;
}

.input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

.input input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.input:hover {
    box-shadow: inset 0px 0px 0px 1px #007bff;
    transition: ease 0.43s;
    background-color: rgba(34, 94, 204, 0.1);
}

#message {
    position: absolute;
    margin-top: 68px;
    font-size: small;
    display: none;
}

.icon {
    margin-right: 8px;
    color: #888;
}

#password-visible {
    font-size: 1.7rem;
    cursor: pointer;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
    width: 100%;
}

.btn span {
    font-size: 1.3em;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #0056b3;
}

.status {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    margin-top: 15px;
    text-align: center;
}

.footer p {
    text-align: center;
}